body
{
	background-color: #555555;
}

.bar
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2e2e2e;
}
.bar a
{
	text-decoration: none;
	display: block;
	color: white;
	background-color: #2e2e2e;
	padding: 20px;
	margin: 0;
	font-size: 20px;
	display: inline-block;
}
.bar a:hover
{
	background-color: #222222;
}
.bar a:active
{
	background-color: black;
}

.logo
{
	display: inline-block;
	position: relative;
	padding-left: 10px;
	margin-bottom: -40px;
	margin-right: 5px;
	bottom: 12px;
}

.search
{
	position: absolute;
	display: inline-block;
	left: 80%;
}

.Loginbox
{
	position: relative;
	display: block;
	background-color: #222222;
	width: 450px;
	padding-bottom: 300px;
	left: 50%;
	margin-top: 10px;
	transform: translateX(-50%);
}
.Loginbox a
{
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 300px;
	text-decoration: none;
	color: #FFFF00;

}
.Loginbox h1
{
	position: relative;
	text-align: center;
	color: white;
	bottom: 40%;
}
.Loginbox div
{
	display: block;
	background-color: #111111;
	position: absolute;
	width: 50%;
	margin-top: 4%;
	transform: translate(50%, 50%);
}
.Loginbox form
{
	display: block;
	position: relative;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	height: auto;
}
.Loginbox form ul
{
	width: 50%;
	display: block;
	position: relative;
	width: auto;
	height: auto;
}
.Loginbox form ul li
{
	display: block;
	position: relative;
	width: auto;
	height: auto;
}
.Loginbox form ul li input
{
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -15px;
	margin-top: 8px;
}

.itemframe
{
	position: relative;
	display: inline-block;
	background-color: #222222;
	width: 300px;
	height: auto;
	margin-top: 40px;
	word-wrap: break-word;
}
.itemframe h1
{
	text-align: center;
}
.itemframe h2
{
	padding: 8px;
}
.itemframe p
{
	margin-top: 80px;
	text-align: center;
	padding: 8px;
}
.itemframe img
{
	position: absolute;
	max-width: 50%;
	max-height: 50%;
	margin-left: 100px;
	top: 80px;
}

.NameText
{
	position: absolute;
	right: 2%;
	top: 13px;
	color: white;
}
.NameText img
{
	position: relative;
	top: -32px;
	left: -20px;
}

.Box
{
	position: relative;
	display: block;
	width: 200px;
	height: 200px;
	background-color: #222222;
}
.Box ul li
{
	display: block;
	position: relative;
	left: -20px;
	margin-top: 8px;
}
.Box p
{
	position: relative;
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	color: white;
}